


d-title h1 {
    font-weight    : 700;
    text-transform : uppercase ;
    font-size      : 28px ;
    letter-spacing : 0.05em ;
    line-height    : 1.1em ;
    margin-top     : 20px ;
  }


d-title p {
    font-weight: 400;
    font-size: 1.12rem;
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
  }





d-byline {
    padding: 0rem 0;
}

d-byline .byline {
    grid-template-columns: 150px 1px 150px 150px;
    grid-column-gap: 0px;
    margin-top: 0.4em;
}

d-byline a:hover {
    color          : rgb(43,100,204) ;
    font-weight    : 700 ;
    margin-top     : 2px ;
    margin-bottom  : 2px ;
    border-top     : 1px solid rgb(43,100,204);
    border-bottom  : 1px solid rgb(43,100,204);
  }

d-byline .authors-affiliations {
    grid-column-end: span 2;
    grid-template-columns: 100px 1px ;
    margin-bottom: 0.5em;
}

d-byline .byline h3 {
    font-family    : 'Spinnaker' ;
    margin-block-start: 0.5em;
    font-weight    : 700 ;
    font-size      : 12px ;
    letter-spacing : 0.05em ;
}

d-byline p.author {
    font-weight: 400;
}





.article-footer {
    font-size      : 14px ;
}

.article-footer .subscribe {
    font-size      : 13px ;
    line-height    : 1.1em ;
    margin-top: 15px;
}


